/*#F8F9FA - Seasalt
  #051923 - Rich Black
  #E7D3FF - Periwinkle
  #CB7EFF - Heliotrope
  #808080 - Grey */

  /*GLOBAL STYLES
  ----------------------------------------*/
  html {
    box-sizing: border-box;
    font-size: 65.5%;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    background: #F2FFFF;
    margin: 0;
    font-family: "Nunito", system-ui;
    font-size: 1.5rem;
    line-height: 1.4;
  }

  h1, h2, h3{
    font-family: "Lora", serif;
    font-weight: 500;
    margin: 0;
  }
  h1{
    font-size: 7rem;
    line-height: 1.3;
  }
  h2{
    font-size: 3.6rem;
  }
  h3{
    font-size: 2.4rem;
  }

  /*links*/
  a{
    color: #CB7EFF;
  }

  a:hover{
    color: #E7D3FF;
    text-decoration: none;
  }

  footer a{
    color: #E7D3FF
  }

  footer a:hover{
    color: #CB7EFF;
  }

  .btn{
    background: #051923;
    color: #E7D3FF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-block;
    padding: 7px;
    line-height: 1;
    border-radius: 4px;
  }

  /*GLOBAL STYLES END
  ---------------------------------------*/


  /*HOME
  ---------------------------------------*/
  .home{
    background: url(../images/sharon-mccutcheon-unsplash.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }

  .home .content-wrapper{
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
    flex: 1 0 auto;
  }

  .content-bg{
    background: rgb(255 255 255 / 60%);
    padding: 30px;
  }

  .section-styles{
    margin-bottom: 50px;
  }

  .section-styles h2{
    border-bottom: 2px solid #808080;
    padding: 3px;
    margin-bottom: 10px;
  }

  .download-link{
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 1.5rem;
  }

  /*Profile*/
  .header-content{
    margin-bottom: 90px;
  }
  header::before{
    background: url(../images/annie-spratt-unsplash.jpg) center;
    background-size: cover;
    content: "";
    display: block;
    height: 300px;
  }

  
  /*Projects*/

  .project-item{
    display: flow-root;
    margin: 30px 0;
  }
  .project-item img{
    float: left;
    margin-right: 20px;
  }

  /*Work Experience*/
  .work-item{
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
  }
  

  /*Education*/


  /*HOME END
  ---------------------------------------*/



  /*FOOTER
  ---------------------------------------*/
  footer{
    background: #051923;
    color: #F8F9FA;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
  }
  .socials{
    list-style-type: none;
    padding: 0;
  }
  .socials li {
    display: inline-block;
    margin-left: 10px;
  }

  /*FOOTER END
  ---------------------------------------*/